{% extends 'admin/base-admin.html.twig' %}

{% block title %} Create User {% endblock %}

{% block body %}

    <h1>Voici ma page de création</h1>

    {% include 'admin/user/_form.html.twig' %}

{% endblock %}
