{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <h1>Vous etes sur la page Home</h1>



<div class="row">

    {% for product in products %}
        <div class="col-sm-3">
        {{ include('partials/_card.html.twig', {'product': product}) }}
        </div>
    {% endfor %}
</div>

{% endblock%}
